<section style="min-height: 77%;">
    <h1>Términos y Condiciones de Uso</h1>
    <hr>

    <p>Estos términos y condiciones de uso regulan tu acceso y uso de la aplicación de reserva de citas online y los servicios relacionados proporcionados por <span class="app">Freeme</span>. Al acceder o utilizar la aplicación, aceptas cumplir con estos términos. Si no estás de acuerdo con alguno de estos términos, por favor, no utilices la aplicación.</p>
    
    <p><span class="bold">1. Uso de la aplicación:</span></p>
    <ul>
        <li>Debes ser mayor de edad y tener la capacidad legal para utilizar la aplicación y celebrar acuerdos vinculantes.</li>
        <li>Aceptas utilizar la aplicación de acuerdo con todas las leyes y regulaciones aplicables.</li>
    </ul>

    <p><span class="bold">2. Registro de cuenta:</span></p>
    <ul>
        <li>Puedes ser requerido/a para crear una cuenta para acceder a ciertas características de la aplicación.</li>
        <li>Toda la información proporcionada durante el proceso de registro debe ser precisa y actualizada.</li>
        <li>Eres responsable de mantener la confidencialidad de tu información de inicio de sesión y eres responsable de todas las actividades que ocurran en tu cuenta.</li>

    </ul>
    
    <p><span class="bold">3. Reserva de citas:</span></p>
    <ul>
        <li>La aplicación permite la reserva de citas con proveedores de servicios externos. No nos hacemos responsables de la disponibilidad, calidad o cualquier otra cuestión relacionada con los servicios proporcionados por los proveedores.</li>
        <li>Aceptas que cualquier acuerdo o transacción realizada con los proveedores de servicios se realiza directamente entre tú y el proveedor, y eximes a la aplicación de cualquier responsabilidad en relación con dichos acuerdos o transacciones.</li>
    </ul>

    <p><span class="bold">4. Propiedad intelectual:</span></p>
    <ul>
        <li>La aplicación y su contenido están protegidos por derechos de propiedad intelectual y leyes de derechos de autor.</li>
        <li>No puedes modificar, copiar, distribuir, transmitir, exhibir, realizar, reproducir, publicar, otorgar licencias, crear trabajos derivados, transferir o vender ningún contenido obtenido a través de la aplicación sin nuestro consentimiento previo por escrito.</li>
    </ul>

    <p><span class="bold">5. Limitación de responsabilidad:</span></p>
    <ul>
        <li>La aplicación se proporciona "tal cual" y no ofrecemos garantías de ningún tipo, expresas o implícitas, incluyendo, entre otras, garantías de comerciabilidad, idoneidad para un propósito particular y no violación.</li>
        <li>No seremos responsables de ningún daño directo, indirecto, incidental, especial, consecuente o punitivo que surja del uso o la imposibilidad de usar la aplicación.</li>
    </ul>

    <p><span class="bold">6. Enlaces a sitios web de terceros:</span></p>
   <ul>
    <li>La aplicación puede contener enlaces a sitios web de terceros que no están bajo nuestro control. No somos responsables de la disponibilidad, contenido, productos, servicios u otras prácticas de dichos sitios web de terceros.</li>
   </ul>

   <p><span class="bold">7. Modificaciones de los Términos:</span></p>
    <ul>
        <li>Nos reservamos el derecho de modificar o actualizar estos Términos en cualquier momento. Cualquier cambio será efectivo cuando se publique una versión actualizada en la aplicación. Es tu responsabilidad revisar periódicamente estos Términos.</li>
    </ul>

    <p><span class="bold">8. Terminación:</span></p>
    <ul>
        <li>Nos reservamos el derecho de terminar, suspender o restringir tu acceso a la aplicación, en cualquier momento y por cualquier motivo, sin previo aviso.</li>
    </ul>

    <p><span class="bold">9. Ley aplicable:</span></p>
    <ul>
        <li>Estos Términos se regirán e interpretarán de acuerdo con las leyes del España sin tener en cuenta sus disposiciones de conflicto de leyes.</li>
    </ul>
</section>
