<mat-toolbar>
  <mat-toolbar-row>
    <div style="display: flex;">
      <h4>Freeme</h4>
    <!--<button mat-button (click)="opened=!opened"><mat-icon>menu</mat-icon></button>-->
    
      <button mat-button><mat-icon>home</mat-icon>Inicio</button>
      <button mat-button *ngIf="usuario == 0"><mat-icon>calendar_view_day</mat-icon>Citas</button>
      <button mat-button><mat-icon>calendar_today</mat-icon>Calendario</button>
      <button mat-button *ngIf="usuario == 1"><mat-icon>calendar_today</mat-icon>Servicios</button>
      <button mat-button *ngIf="usuario == 1"><mat-icon>assignment_ind</mat-icon>Empleados</button>
      <button mat-button *ngIf="usuario == 1"><mat-icon>grade</mat-icon>Reseñas</button>
    </div>
    
    <div class="derecha">
      <button mat-button (click)="cerrarSesion()"><mat-icon>logout</mat-icon>Cerrar sesión</button>
      <button mat-button><mat-icon>account_circle</mat-icon>Perfil</button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<!--<mat-sidenav-container>
  <mat-sidenav [(opened)]="opened" mode="over">
    <mat-list>
      <mat-list-item><a routerLink="/inicio">Inicio</a></mat-list-item>
      <mat-list-item><a routerLink="/contacto">Contacto</a></mat-list-item>
      <mat-list-item><a routerLink="/nosotros">Sobre nosotras</a></mat-list-item>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>-->
