<section>
    <div class="contenedor">
        <mat-card class="tarjeta container" *ngFor="let empresa of empresas; index as i;">
            <mat-card-header *ngIf="empresas.length != 0">
                <div class="col-1" *ngIf="empresa.logo != ''"><img src="{{empresa.logo}}" class="circular"></div>
                <div class="col-1" *ngIf="empresa.logo == ''"><img src="../../../assets/images/sin-foto.jpg" class="circular"></div>
                <div class="col-11">
                    <mat-card-title>{{empresa.nombre}}</mat-card-title>
                    <mat-card-subtitle>{{empresa.descripcion}}</mat-card-subtitle>
                    <div style="visibility: hidden;">
                        {{personalizarEmpresas(i)}}
                    </div>
                </div>
            </mat-card-header>
            <img mat-card-image src="">
            <mat-card-content>
                <p>Teléfono:{{empresa.telefono}}</p>
                <p>Email:{{empresa.emailAdmin}}</p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-flat-button color="primary">Ver empresa</button>
            </mat-card-actions>
        </mat-card>
        </div>
</section>