
<section style="min-height: 77%;">
    <div id="banner">
        <h1>{{ empresa.nombre }}</h1>
        <div class="col-1" *ngIf="empresa.logo != ''"><img src="{{ empresa.logo }}" class="circular"></div>
        <div class="col-1" *ngIf="empresa.logo == ''"><img src="../../../assets/images/sin-foto.jpg" class="circular"></div>
        
    </div>
    <div id="cajitas">
      <div class="row">
        <div class="col-md-8">
            <div class="bordesito">
                <p class="titulo">Reseñas</p>
                <mat-divider></mat-divider>
                <div class="tarjeta col" *ngFor="let resena of resenas; let i = index" style="margin-top: 30px;">
                  <div class="globo row">
                    {{resena.mensaje}}
                  </div>
                  <div class="usuVal row" *ngIf="resena"> 
                    <div class="col-6 usuario"> {{usuarios[i]}} </div>
                    
                    <div class="col-6 estrellas" *ngIf="resena.estrellas == 1">
                      <mat-icon>grade</mat-icon> 
                    </div>
                    <div class="col-6 estrellas" *ngIf="resena.estrellas == 2">
                      <mat-icon>grade</mat-icon>
                      <mat-icon>grade</mat-icon> 
                    </div>
                    <div class="col-6 estrellas" *ngIf="resena.estrellas == 3">
                      <mat-icon>grade</mat-icon>
                      <mat-icon>grade</mat-icon>
                      <mat-icon>grade</mat-icon> 
                    </div>
                    <div class="col-6 estrellas" *ngIf="resena.estrellas == 4">
                      <mat-icon>grade</mat-icon>
                      <mat-icon>grade</mat-icon>
                      <mat-icon>grade</mat-icon> 
                      <mat-icon>grade</mat-icon> 
                    </div>
                    <div class="col-6 estrellas" *ngIf="resena.estrellas == 5">
                      <mat-icon>grade</mat-icon>
                      <mat-icon>grade</mat-icon> 
                      <mat-icon>grade</mat-icon>
                      <mat-icon>grade</mat-icon> 
                      <mat-icon>grade</mat-icon>
                    </div>
                  </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
          <div class="bordesito">
              <p class="titulo">Servicios</p>
              <mat-divider></mat-divider>
              <div class="servicios">
                <div class="row filaServicio" *ngFor="let servicio of servicios; let i = index">
                  <div class="col-8 servicio row">
                    <div class="col-8">{{servicio.nombre}}</div>
                    <div class="col-4 precio">{{servicio.precio}} €</div>
                  </div>
                  <div class="col-4 boton"><button mat-flat-button class="btn-primario">Reservar</button></div>
                </div>
              </div>
          </div>
      </div>
      </div>
    </div>
</section>

<!-- Modal añadir servicio -->
<div class="modal fade" id="modal1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exModalLabel">Añadir servicio</h5>
        <button type="button" class="btn-close" name="button" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <form>
            <div class="row mb-3">
              <label for="nombre" class="col-3 col-form-label">Servicio</label>
              <div class="col-9">
                <input type="text" class="form-control" id="nombre">
              </div>
            </div>
            <div class="row mb-3">
              <label for="color" class="col-3 col-form-label">Color</label>
              <div class="col-9">
                <input class="form-control" [(colorPicker)]="color" [style.background]="color" [cpOutputFormat]="'hex'" readonly style="cursor: pointer;"/>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn-primario" name="button" (click)="crearServicio()">Confirmar</button>
        <button type="button" class="btn-secundario" name="button" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal añadir empleado -->
<div class="modal fade" id="modal2">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exModalLabel">Añadir empleado</h5>
        <button type="button" class="btn-close" name="button" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <form>
            <div class="row mb-3">
              <label for="nombre2" class="col-3 col-form-label">Nombre</label>
              <div class="col-9">
                <input type="text" class="form-control" id="nombre2">
              </div>
            </div>
            <div class="row mb-3">
              <label for="color" class="col-3 col-form-label">Color</label>
              <div class="col-9">
                <input class="form-control" [(colorPicker)]="color2" [style.background]="color2" [cpOutputFormat]="'hex'" readonly style="cursor: pointer;"/>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn-primario" name="button" (click)="crearEmpleado()">Confirmar</button>
        <button type="button" class="btn-secundario" name="button" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
