<section style="min-height: 77%;">
    <h1>Contacto</h1>
    <hr>

    <p><span class="bold">¡Nos encanta saber de nuestros usuarios!</span> Si tienes alguna pregunta, sugerencia o necesitas asistencia, no dudes en ponerte en contacto con nosotros. Estamos aquí para ayudarte y asegurarnos de que tengas la mejor experiencia posible con nuestra aplicación.</p>
    <p>Puedes comunicarte con nosotros a través de los siguientes canales:</p>

    <p><span class="bold">1. Soporte por correo electrónico:</span> Envíanos un correo electrónico a <span class="app">soporte@freeme.com</span> y una de nuestras representantes del servicio al cliente se pondrá en contacto contigo en breve. Estamos comprometidos en responder a todas las consultas en un plazo de tiempo razonable.</p>
    <p><span class="bold">2. Redes sociales:</span> Síguenos en nuestras cuentas de redes sociales para estar al tanto de las últimas novedades, actualizaciones y promociones. Puedes enviarnos mensajes directos en las redes sociales y nos aseguraremos de responderte lo antes posible.</p>
   
    <p>Valoramos tus comentarios y opiniones. Si tienes alguna sugerencia sobre cómo podemos mejorar nuestra aplicación o si encuentras algún problema técnico, no dudes en informarnos. Tu opinión es esencial para seguir brindando un servicio de calidad.</p>
    <p>Si eres un proveedor de servicios interesado en formar parte de nuestra plataforma, estaremos encantados de discutir las oportunidades de colaboración contigo. Ponte en contacto con nuestro equipo de colaboraciones a través de <span class="app">colaboracion@freeme.com</span> y estaremos encantadas de evaluar tu solicitud.</p>
    <p>Gracias por elegir nuestra aplicación de reserva de citas online. Valoramos tu confianza y nos esforzamos por brindarte un servicio excepcional. ¡Esperamos poder ayudarte pronto!</p>
    <p>Atentamente, </p>
    <p><span class="bold">¡Equipo de <span class="app">Freeme</span>!</span></p>
</section>
