<section style="min-height: 60%;">
    <h1>Sobre nosotras</h1>
    <hr>

    <p>Bienvenida/o a <span class="app">Freeme</span>, tu plataforma de confianza para la reserva de citas online. Estamos comprometidas en simplificar y mejorar la forma en que reservas y administras tus citas con proveedores de servicios de confianza en un solo lugar conveniente.</p>
    <p>En <span class="app">Freeme</span>, entendemos lo valioso que es tu tiempo y queremos brindarte una experiencia sin complicaciones. Nuestra plataforma intuitiva y fácil de usar te permite explorar y reservar una amplia variedad de servicios en tu área, desde servicios de salud y bienestar hasta citas con profesionales de belleza y mucho más.</p>
    <p>¿Por qué elegir <span class="app">Freeme</span>?</p>

    <p><span class="bold">1. Amplia selección de servicios:</span> Colaboramos con una amplia red de proveedores de servicios cuidadosamente seleccionados para ofrecerte una amplia gama de opciones. Ya sea que necesites una cita médica, un corte de pelo o una sesión de spa relajante, ¡tenemos lo que buscas!</p>
    <p><span class="bold">2. Reservas fáciles y rápidas:</span> Nuestra plataforma simplifica el proceso de reserva de citas. Puedes explorar los servicios disponibles, verificar la disponibilidad en tiempo real y reservar una cita en tan solo unos pocos clics. Olvídate de las largas llamadas telefónicas y los tiempos de espera interminables.</p>
    <p><span class="bold">3. Perfiles de proveedores detallados:</span> Queremos que tomes decisiones informadas. Por eso, cada proveedor de servicios en nuestra plataforma tiene un perfil completo con información relevante, como su experiencia, calificaciones y opiniones de otros usuarios. Puedes leer reseñas y seleccionar al proveedor que mejor se adapte a tus necesidades.</p>
    <p><span class="bold">4. Recordatorios y notificaciones:</span> Nos ocupamos de recordarte tus citas importantes. Recibirás notificaciones y recordatorios por correo electrónico o mensajes de texto para que nunca se te pase una cita. También puedes sincronizar tus citas con tu calendario personal para mantener todo bajo control.</p>
    <p><span class="bold">5. Privacidad y seguridad:</span> La protección de tus datos personales es una prioridad para nosotros. Mantenemos tus datos seguros y confidenciales, siguiendo las mejores prácticas de seguridad y cumpliendo con las regulaciones de privacidad aplicables.</p>

    <p>Estamos comprometidas en ofrecerte una experiencia de reserva de citas online fluida y satisfactoria. Nuestro objetivo es ahorrarte tiempo y esfuerzo, y brindarte la tranquilidad de saber que tus citas están bajo control.</p>
    <p>Gracias por elegir <span class="app">Freeme</span> para tus necesidades de reserva de citas. Esperamos poder servirte y hacerte la vida más fácil.</p>
    <p><span class="bold">¡Equipo de <span class="app">Freeme</span>!</span></p>
</section>
