<section>
    <div class="login">
        <form [formGroup]="loginForm" class="custom-form">
            <h1 class="nombreApp">Freeme</h1>
            <input type="email" class="form-control" formControlName="email" placeholder="Email" [ngClass]="{ 'is-invalid': form.email.errors }" />
            <div *ngIf="form.email.errors && form.email.touched" class="invalid-feedback">
                <div *ngIf="form.email.errors.required">El email es obligatorio</div>
                <div *ngIf="form.email.errors.email">El email debe ser válido</div>
            </div>
            <input type="password" class="form-control" formControlName="psw" placeholder="Contraseña" [ngClass]="{ 'is-invalid': form.psw.errors }" />
            <div *ngIf="form.psw.errors && form.psw.touched" class="invalid-feedback">
                <div *ngIf="form.psw.errors.required">La contraseña es obligatoria</div>
                <div *ngIf="form.psw.errors.minLength">La contraseña debe tener al menos 6 caracteres</div>
            </div>
            <div class="centrar" style="margin-top: 2em;">
                <button type="submit" [disabled]="loginForm.invalid" (click)="onSubmit()">Iniciar sesión</button>
            </div>
            <p style="margin-top: 1em;">¿No tienes una cuenta? <span class="enlace" routerLink="/registro">Regístrate</span></p>
        </form>
      </div>
</section>
