/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
:root {
    --verde: #51D5B8;
    --rosa: #eb8eb6;
    --lila: #8d7cdf;
    --rojo: #fc615f;
    --amarillo: #ffc863;
}

html, body {
    min-height: 100vh;
    height: auto;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-content: stretch;
    align-items: stretch;
    height: 100vh;
  }
   
  app-root {
    order: 0;
    flex: 1 1 auto;
    align-self: auto;
    display: block;
  }

  .enlace {
    text-transform: uppercase;
    font-weight: bold;
    color: var(--verde);
    cursor: pointer;
  }