<div class="footer-basic">
    <footer>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="/">Inicio</a></li>
            <li class="list-inline-item"><a href="/contacto">Contacto</a></li>
            <li class="list-inline-item"><a href="/nosotras">Sobre nosotras</a></li>
            <li class="list-inline-item"><a href="/condiciones">Términos y condiciones de uso</a></li>
            <li class="list-inline-item"><a href="/privacidad">Política de privacidad</a></li>
        </ul>
        <p class="copyright">Freeme © 2023</p>
    </footer>
</div>